body{
  min-width:400px;
  max-width:700px;
  position:relative;
  font-size:16px;
}

.App-header {
  background-color: #68217A;
  padding: 0.5em;
  color: white;
  font-size:12px;
  display: flex;
  .search-word{
    width:100%;
    padding-left:2.5em;
  }
  .search-icon {
    line-height:1em;
    font-size:16px;
    position: absolute;
    color: #CCC;
    left: 0.6em;
    padding: 0.3em;
    &:hover{
      color: #999;
    }
  }
  .web-search{
    line-height: calc( 2.3em - 2px);
    background: white;
    align-items: center;
    vertical-align: middle;
    border: 1px solid #CCC;
    box-sizing: content-box;
    margin-left: 5px;
    padding: 0 5px;
    img {
      height: 16px;
      vertical-align: middle;
    }
  }
}

.App-title {
  font-size: 1.5em; }

input{
  border:1px solid #CCC;
  height:2.3em;
  font-size:12px;

  &[type=button]
  {
    border-left:0;
    &:active{
      background:#BBB;
    }
  }
}

header.ResultHeader
{
  background:#EDD6F3;
  font-size:12px;
  padding:0.2em 0.5em;
  a{
    color:#666;
    text-decoration: none;
    &:hover{
      text-decoration:underline;
    }
  }
  img{
    height:16px;
    line-height:16px;
    position: relative;
    vertical-align: bottom;
    margin-right: .5em;
  }
}
ul{
  list-style: none;
  padding:0;
  margin:0;
  height:calc( 6em + 4px );
  font-size:12px;
  line-height:1em;
  overflow-y: scroll;
  li{
    border-bottom:1px solid #DDD;
    overflow: hidden;
    text-overflow: ellipsis;
    a{
      text-decoration: none;
      color: #000;
      padding: 0.5em;
      display: block;
      img.type-icon
      {
        height:1em;
        vertical-align: bottom;
        margin-right:.2em;
        line-height:1em;
      }
      small{
        color:#666;
        margin-left:.3em;
      }
    }
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
