html{
  width:300px;
  position:relative;
}

.App-header {
  background-color: #68217A;
  padding: 0.5em;
  color: white; 
  .search-word{
    width:100%;
  }
  .search-button {
    line-height:1em;
    position: absolute;
    color: #CCC;
    right: 0.6em;
    padding: 0.3em;
    cursor: pointer;
    &:hover{
      color: #999;
    }
    &:active{
      color: #666;
    }
  }
}

.App-title {
  font-size: 1.5em; }

input{
  border:1px solid #CCC;
  height:2.5em;

  &[type=button]
  {
    border-left:0;
    &:active{
      background:#BBB;
    }
  }
}

header.ResultHeader
{
  background:#EDD6F3;
  color:#666;
  font-size:14px;
  padding:0.2em 0.5em;
  img{
    height:16px;
    line-height:16px;
    position: relative;
    vertical-align: bottom;
    margin-right: .5em;
  }
}
ul{
  list-style: none;
  padding:0;
  margin:0;
  height:6em;
  li{
    border-bottom:1px solid #DDD;
    a{
      text-decoration: none;
      color: #000;
      padding: 0.5em;
      display: block;
    }
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
